.DisplayStarWars {
  border: black solid 2px;
  padding: 10px;
  margin: 30px;
  width: 500px;
  position: relative;
  left: 33%;
}

h1 {
  padding: 0px;
  font-size: 20px;
  font-weight: lighter;
}

.savedCharacter {
  border: black solid 2px;
  padding: 10px;
  margin: 30px;
  width: 500px;
  position: relative;
  left: 33%;
}